<head>
    <meta charset="UTF-8">
    <script src="ajax.js"></script>
    <script src="libs/versions_list.js"></script>
    <script src="state_machine.js"></script>
    <script src="range.js"></script>
    <script src="dropdown.js"></script>
    <script src="globals.js"></script>

    <script src="dash_tech.js"></script>
    <script src="hls_tech.js"></script>
    <script src="smooth_tech.js"></script>
    <script src="playlist.js"></script>
    <script src="player.js"></script>
    
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="libs/animate.min.css">
    <link rel="stylesheet" href="libs/material_icons.css">
</head>
